/* ------ Modal ------ */
table {
  background-color: white;
  padding: 20px 20px;
  text-align: center;
  width: 100%;
}

caption {
  font-weight: bold;
  font-size: 20px;
  padding-top: 15px;
  background: white;
  position: sticky;
  background-color: white;
}

thead th {
  border-bottom: solid;
  color: #333;
  padding: 0px 10px 5px;
}

tbody td {
  padding: 5px 0px;
}

tbody tr:nth-child(odd) {
  background-color: white;
}

tbody tr:nth-child(even) {
  background-color: #eee;
}

.characteristics {
  padding: 0px 20px;
}

.comparision {
  position: relative;
}

#modal{
  width: 1200px;
  height: 390px;
  top: 0;
  background-color: transparent;
  position: absolute;
  z-index: 20;
}

.modal-container {
  position: absolute;
  top: 100px;
  left: 350px;
  /* z-index: 10; */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow-y: scroll;
  height: 200px;
  width: 600px;
}

#modal thead {
  text-align: center;
  top: 0;
  position: sticky;
  background-color: white;
}
