/* ------ ProductCard ------ */

.productCard {
  min-width: 283px;
  width: 283px;
  height: 320px;
  margin: 13px 8px;
  border-style: groove;
  border-width: 3px;
  cursor: pointer;
  position: relative;
  background-color: rgb(238 238 238);
}

button.action-btn {
  display: block;
  z-index: 30;
}

.productCard button.action-btn::after {
  position: absolute;
  background: palegreen;
}

.productCard:hover {
  box-shadow: 0 10px 20px 0 rgb(81, 79, 74);
}

.productInfo {
  display: block;
  height: auto;
  margin-top: .75rem;
  padding-left: 11%;
}

.navigateToProductDetail {
  color: #485461;
  text-decoration: none;
}


/* ------ productInfo-upper ------ */

.image-carousel-row {
  top: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(238 238 238);
  z-index: 10;
  overflow: hidden;
}

.productInfo-upper:hover .image-carousel-row {
  opacity: 1;
  z-index: 15;
}

.image-carousel-image{
  width: 100%;
  height: 100%;
}

.carousel-image {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  display: block;
}

button.image-prev , button.image-next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 8px;
  margin-top: -22px;
  color: black;
  font-size: 18px;
  transition: 0.6s ease;
  border: none;
  background-color: transparent;
  z-index: 20;
}

.image-prev {
  left: 0;
  border-radius: 0 3px 3px 0;

}

.image-next {
  right: 0;
  border-radius: 3px 0 0 3px;

}

.image-prev:hover, .image-next:hover {
  background-color: rgba(120, 116, 116, 0.8);
}

.image-slide {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


/* ------ function only ------ */
.preview-image {
  width: 100%;
  height: 190px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-image {
  max-width: 100%;
  max-height: 100%;
}

/* ------ productInfo ------ */
.productInfo-price {
  display: flex;
}

.sale {
  color: red;
}

.original {
  text-decoration: line-through;
  margin-left: 10px;
}


/* ------ Action buttons ------ */
.productInfo-upper {
  position: relative;
  width: 100%;
  z-index: 20;
}

.action-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  color: gold;
  font-size: 19px;
  border: none;
  background-color: transparent;
  font-weight: 300;
  cursor: pointer;
}

.action-btn:hover {
  color: rgba(255, 162, 0, 0.967);
}

.of {
  color: rgb(31, 30, 30);
}