
/* ListWrapper */
#related_products{
  border-color: grey;
  border-style: solid;
  border-radius: 3px;
  margin : 10px 15% 10px;
}

/* Carousel */
.rec.rec-arrow:disabled {
  visibility: hidden;
}

/* RelatedProductList */
#relatedProductsList{
  border-color: rgba(71, 128, 179, 0.893);
  border-style: solid;
  margin: 10px 3% 10px;
}

/* ProductCard */
.productCard{
  width: 100%;
  height: 300px;
  margin: 13px 8px;
  border-style: groove;
}

.productCard:hover {
  box-shadow: 0 10px 20px 0 rgb(237, 226, 204);
}

.productInfo{
  display: block;
  height: auto;
  padding-left: 20px;
}

.preview-image {
  width: 100%;
  height: 180px;
  text-align: center;
  background-color: rgb(243, 240, 237);
}

.product-image{
  max-width:100%;
  max-height:100%;
  vertical-align: middle;
}

/* Action buttons */
.productInfo-upper{
  position: relative;
}
.action-btn{
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgb(226, 24, 24);
  color: white;
  font-size: 12px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}