.windowWrap {
  width: 400px;
  background-color: #f6f6f6;
  padding: 20px 200px;
  border-radius: 5px;
  position: relative;
  z-index: 1;
}

#questionForm label{
  display: inline-block;
  width:100px;
  margin:4px 0;
}

.popFormQ {
  height: 200px;
}



.same {
  width:100%;
}

#questionForm button{
  margin-top:12px;
}