.windowWrap {
  width: 250px;
  background-color: #f6f6f6;
  padding: 20px 200px;
  border-radius: 5px;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.question {
  height:36px;
}

#answerForm label{
  display: flex;
  width:140px;
  margin:4px 0;
  font-weight: 400;
}

.popFormQ {
  height: 200px;
}

.title{
  text-overflow: clip;
}


.question-wrap {
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding:10px 0 10px;
}

