.size-quantity {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
}

#sizeDropdown {
  height: 50px;
  width: 210px;
  font-size: 15px;
  padding-left: 10px;
  /* text-align: center; */
}

#quantity {
  height: 50px;
  width: 80px;
  font-size: 15px;
  padding-left: 10px;
}

.addToBag-star {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
}

#addToBagButton {
  height: 50px;
  width: 250px;
  font-size: 15px;
}

#starButton {
  height: 50px;
  width: 50px;
  font-size: 20px;
  color: gold;
}