* {
  box-sizing: border-box
}
body {
  font-family: Verdana, sans-serif;
  margin: 0
}
.mySlides {
  display: none;
  background-color: #EEEEEE;
}
.styleImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 600px;
  width: auto;
  height: 100%;
}

.expanded-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  /* position: relative; */
  /* position: absolute; */
}

.expanded-image:hover {
  cursor: zoom-in;
}

.zoomed {
  transform: scale(2.5);
  position: absolute;
}

.zoomed:hover {
  cursor: zoom-out;
}

.slideshow-container {
  width: 800px;
  height: 600px;
  position: relative;
  margin: auto;
  overflow: hidden;
  background-color: #EEEEEE;
  z-index: 5;
}

.expanded-container {
  width: 1200px;
  z-index: 10;
}

 /* Next & previous buttons */
 .prev,
 .next {
   cursor: pointer;
   position: absolute;
   top: 50%;
   width: auto;
   padding: 16px;
   margin-top: -22px;
   color: rgb(165, 161, 161);
   font-weight: bold;
   font-size: 18px;
   transition: 0.6s ease;
   border-radius: 0 3px 3px 0;
   user-select: none;
 }

 /* Position the "next button" to the right */
 .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 90px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.expand {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 20px;
}

.thumbnail-container {
  position: absolute;
  top: 0px;
  left: 5px;
  width: 80px;
  height: 600px;
  overflow: hidden;
  display: block;
}

.up {
  z-index: 5;
  display: block;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 0px;
  left: 15px;
  width: 50px;
  height: 35px;
  /* padding: 5px; */
  color: rgb(165, 161, 161);
  font-weight: bold;
  font-size: 40px;
  transition: 0.6s ease;
  /* border-radius: 0 3px 3px 0; */
  user-select: none;
}

.down {
  z-index: 5;
  display: block;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  bottom: 40px;
  left: 15px;
  width: 50px;
  height: 35px;
  /* padding: 5px; */
  color: rgb(165, 161, 161);
  font-weight: bold;
  font-size: 40px;
  transition: 0.6s ease;
  /* border-radius: 0 3px 3px 0; */
  user-select: none;
}

.thumbnail-sliderbar {
  position: absolute;
  top: 60px;
  /* left: 5px; */
  bottom: 50px;
  width: 80px;
  height: 459px;
  overflow: hidden;
}

.thumbnail-div {
  width: 60px;
  height: 60px;
  border-width: 1px;
  border-color: rgb(176, 167, 167);
  border-style: solid;
  position: relative;
  top: 0px;
  bottom: 0px;
  /* bottom: 20px; */
  margin: 5px;
  overflow: hidden;
}

.thumbnail-img {
  display: block;
  /* cursor: pointer;
  max-width: 100%; */
  max-height: 60px;
  height: 100%;
  width: auto;
  /* max-width: 60px; */
  margin-left: auto;
  margin-right: auto;
  transition: background-color 0.6s ease;
}

.active,
.thumbnail-div:hover {
  /* background-color: #CCCCCC; */
  border-bottom: thick;
  border-style: double;
  border-bottom-color: black;
  box-shadow: 0 10px 20px 0 rgb(155, 148, 130);
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.4
  }
  to {
    opacity: 1
  }
}
@keyframes fade {
  from {
    opacity: 0.4
  }
  to {
    opacity: 1
  }
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px
  }
}