.container {
  display: flex;
  flex-direction: column;
}

.container1 {
  display: flex;
  justify-content: center;
  gap: 50px;
  align-content: space-evenly;
  width: 1200px;
}

.container1-1 {
  float: left;
  width: 70%;
}

.container1-2 {
  display: flex;
  flex-direction: column;
  float: right;
  width: 30%;
}
