.ProductInformation {
  display: flex;
  flex-direction: column;
}

.stars-reviews {
  display: flex;
  gap: 5px;
}

.reviews-div {
  align-self: flex-end;
}

.category {
  font-size: 20px;
  color: gray;
}

.product-title {
  font-size: 40px;
  text-align: left;
}

.product-price {
  font-size: 20px;
  color: gray;
}

.sale-price {
  font-size: 20px;
  color: red;
}